[Desktop Entry]
Type=Application
Name=uZDL
GenericName=Doom launcher
Comment=Launcher for ZDoom based Doom engine source ports
Exec=uzdl %F
Icon=uzdl
Terminal=false
Categories=Game;
Keywords=Doom;ZDoom;GZDoom;WAD;launcher;
StartupWMClass=uzdl
